*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-bg-prin: #f9fafb;
  --clr-bg: #ffffff;
  --clr-font: #0e2942;
  --clr-border: #0e2942af;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--clr-font);
}

.main {
  background-color: var(--clr-bg-prin);
  padding: 2rem;
}

.h1__title {
  margin: 0.5rem 0 3rem 0;
  text-align: center;
}

.section__graph {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid var(--clr-border);
  border-radius: 0.75rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
}

.section__graph2 {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-bg);
}

.section__principale {
  padding: 0.5rem;
}

.section__secondaire {
  text-align: center;
  padding: 1rem;
  border: 2px solid var(--clr-border);
  border-radius: 0.75rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
}

#chartdiv,
#chartdiv3 {
  width: 40rem;
  height: 40rem;
}
#chartdiv2 {
  width: 100%;
  height: 50rem;
}

.select {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
}

.selecteur {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--clr-border);
}

@media screen and (max-width: 1398px) {
  .section__graph2 {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
  }
}
